<div style="color:black;">
<h1>Movie List</h1>
	<div id="lightbox-wrapper">
		<a href="#" class="btn btn-success" id="addMovie">Add Movie</a>
			<div id="login-box" class="login-popup"> <!-- Popup to Add Movies -->
				<a href="#" class="close">x</a>
                <%= form_for(@movie) do |f| %>
					<%= f.label :Title, :class => "movieTextStyling" %><br>
					<%= f.text_field :title, :class => "movieInputStyling", :width => 420 %><br>
					<%= f.label :description, :class => "movieTextStyling" %><br>
					<%= f.text_area :description, :id => "MovieDescription", :class => "movieInputStyling" %>
					<%= f.file_field :avatar, :class => "movieInputStyling" %>
					<p>
						<%= f.submit "Submit", class: "btn btn-primary" %>
					</p>
				<% end %>    
			</div>
	</div>

<table width="500px" border="1px solid black">
  <tr>
    <th>Title</th>
    <th> </th>
    <th> </th>
  </tr>

<%- @movies.each do |movie| %>
	<tr>
		<td>
			<%= link_to (movie.title), movie_path(movie.id) %>
		</td>
		<td>
			<%= link_to 'Edit', edit_movie_path(movie.id) %>
		</td>
		<td> 
			<%= link_to "Delete", { action: :destroy, id: movie.id },
				method: :delete, data: {confirm: 'Are you sure?' } %>
		</td>
	</tr>
<% end %>
</table>s

</div>