<%= render 'partials/header' %>


<section id="EditContent" style="width:45%; align:left; position:absolute;">
<h1>Edit Movie </h1>

<%= form_for(@movie, :method => "put") do |f| %>
	<%= f.label :Title, :class => "movieTextStyling" %><br>
	<%= f.text_field :title, :class => "movieInputStyling", :width => 620 %><br>
	<%= f.label :description, :class => "movieTextStyling" %><br>
	<%= f.text_area :description, :class => "movieInputStyling", :id => "movieTextarea", :rel => "popover", "data-original-title" => "Popover title",  "data-toggle"=>"tooltip" %><br>
	<p>
	<%= f.file_field :avatar, :class => "movieInputStyling" %>
	<p>
		<%= f.submit "Submit", :class => "btn btn-primary" %>
	</p>
<% end %>  



</section>



<section style="width:45%; right:0; position:absolute;">



	<%= form_for(@explanation) do |f| %>

		<%= f.label :Explanation %><br>
		<%= f.text_area :explanation %><br>

		<%= f.submit "Add Explanation", :id => "submitDescription" %>
	<% end %>

<iframe width="100%" id="lastExplanation">

</iframe>



</section>   