
<section id="EditContent" style="width:45%; align:left; position:absolute;">
<h1>Edit Movie </h1>

<%= form_for @movie, :method => "put" do |f| %>
	<%= f.label :Title, :class => "movieTextStyling" %><br>
	<%= f.text_field :title, :class => "movieInputStyling", :width => 620 %><br>
	<%= f.label :description, :class => "movieTextStyling" %><br>
	<%= f.text_area :description, :class => "movieInputStyling", :id => "movieTextarea", :rel => "popover", "data-original-title" => "Popover title",  "data-toggle"=>"tooltip" %><br>
	<p>
	<%= f.file_field :avatar, :class => "movieInputStyling" %>
	<p>
		<%= f.submit "Submit", :class => "btn btn-primary" %>
	</p>
<% end %>  




<a href="#" id="getSelection">Get Selection</a>
<p>


<p>

<a href="#" id="example" class="btn btn-success" rel="popover" data-original-title="Twitter Bootstrap Popover" data-toggle="tooltip">hover for popover</a>



<%= link_to "Last Url", lasturl_path, :id => "newarea" %>

</section>



<section style="width:45%; right:0; position:absolute;">



<%= form_for @explanation, remote: true, :id => 'EditMovieForm' do |f| %>
	<%= f.label :Synopsis %><br>
	<%= f.text_field :synopsis %><br>

	<%= f.label :Explanation %><br>
	<%= f.text_field :explanation %><br>

	<%= f.submit "Add Synopsis", :id=>"addSynopsis" %>
<% end %>

<div id="ExplanationURL">
	

</div>
	<%= f.submit "Add Synopsis", :id => "submitDescription" %>
<% end %>

/movies/<%= @lastexplanation.last.id %>

</section>   
