<%= render 'partials/header' %>

<div class="pictureframe">
	<div id="lrgimg">
		<div class="imagereserve">
			<div id="imgtext"> Get Answers. Gain Insight. 
				<br> Discuss Intelligently.
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="category">
		<div class="block1"></div>

		<div class="block3">
 			<%= form_tag :controller => 'movies', :action=>'search', :method => 'get' do %>
 				<%= text_field_tag :search, params[:search], :id=> 'search_field', :class=>'typeahead' %>
 				<%= submit_tag "Search", :name => nil, :class =>'btn-medium btn-success', :id => "submit-search" %> 
			 <% end %> 
		</div>
		<div class="arrowsandcontent">
			<div class="leftarrowdiv">
				<div class="leftarrow"></div>
			</div>
			<div class="rightarrowdiv">
				<div class="rightarrow"></div>
			</div>
			<div id="my-carousel-2" class="carousel module">
				<ul class="content_covers">
					<%- @movies.each do |movie| %>
						<li><%= link_to image_tag(movie.avatar, :height => 286, :width => 200), movie_path(movie.id) %></li>
					<% end %>
				</ul>
				
				<ul class="content_names">
					<%- @movies.each do |movie| %>
						<li><%= link_to (movie.title), movie_path(movie.id) %></li>
					<% end %>
				</ul>
				
			</div>		
		</div>	

	</div>	

</div>



</div> <!-- fullcontainer closing tag -->







</html>