<%= render 'partials/header' %>

<div class="pictureframe">
	<div id="lrgimg">
		<div class="imagereserve">
			<div id="imgtext"> Get Answers. Gain Insight. 
				<br> Discuss Intelligently.
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="category">
		<div class="block1"></div>
		<div class="block2">	
			<ul id="search">	
				<form class="navbar-search" action = "" method="GET">
					<input type="text" class="search-query" placeholder="Search Movie" name="q">
				</form>
			</ul>
		</div>
		<div class="block3">
			<div id="lightbox-wrapper">
				<a href="#" class="btn btn-success" id="addMovie">Add Movie</a>

				<div id="login-box" class="login-popup">
				        <a href="#" class="close">x</a>
				                <%= form_for(@movie) do |f| %>
									<%= f.label :Title, :class => "movieTextStyling" %><br>
									<%= f.text_field :title, :class => "movieInputStyling", :width => 420 %><br>
									<%= f.label :description, :class => "movieTextStyling" %><br>
									<%= f.cktext_area :description, :id => "MovieDescription", :class => "movieInputStyling" %>
									<%= f.file_field :avatar, :class => "movieInputStyling" %>
									<p>
										<%= f.submit "Submit", class: "btn btn-primary" %>
									</p>
								<% end %>    
				</div>
			</div>
 
		</div>
		<div class="arrowsandcontent">
			<div class="leftarrowdiv">
				<div class="leftarrow"></div>
			</div>
			<div class="rightarrowdiv">
				<div class="rightarrow"></div>
			</div>
			<div id="my-carousel-2" class="carousel module">
				<ul class="content_covers">
					<%- @movies.each do |movie| %>
						<li><%= link_to image_tag(movie.avatar, :height => 286, :width => 200), movie_path(movie.id) %></li>
					<% end %>
				</ul>
				
				<ul class="content_names">
					<%- @movies.each do |movie| %>
						<li><%= link_to (movie.title), movie_path(movie.id) %></li>
					<% end %>
				</ul>
				
			</div>		
		</div>	

	</div>	

</div>



</div> <!-- fullcontainer closing tag -->







</html>